.envs
*.bak
*.pyc
*.txt
*.csv
.coverage
.cache
*.swp
*.tsv
htmlcov
*.log
bin/
lib/
lib64
*.egg-info*
include/
!requirements.txt
!all_requirements.txt
tags
man
cover/
build/
dist/
pip-selfcheck.json
.agignore
.project
.pydevproject
*.zip
*.gz
share/
.Python
.python*
